/* variabili*/

:root {
    --bs-primary: #aa9cfc;
    --bs-primary-rgb: 170, 156, 252;
    /* colore sfondo card */
    --bs-light: #b5b7a7;
    --bs-light-rgb: 249, 243, 238;
    /* togliere il bordo bianco*/
    
}

/* background */

body {
    background-color: #e4d3c6;
    
}

.custom-card {
    display: flex;
    padding: 0 !important;
    margin: 20px;
    flex-direction: row; 
    width: 100%;
    max-width: 370px;
    height: 150px;
    background-color: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-image {
    width: 130px;    
    flex-shrink: 0;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content {
    flex-grow: 1;     
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.name {
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;     /* Gestione testo lungo */
    overflow: hidden;
    text-overflow: ellipsis;
}

.role {
    margin: 5px 5px;
    color: #666;
}

.email {
    color: #0dcaf0;
    margin-left: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-add {
    margin: 15px;
    border-radius: 8px;
    padding: 6px;
    border: none;
    color: #666;
    cursor: pointer;
    background-color: #f8f9fa;
    box-shadow: 0 4px 0px #dcdcdc; 
    transition: all 0.1s ease; /* Rende il movimento fluido */
    position: relative;
    top: 0;
}

/* 2. Effetto al passaggio del mouse */
.btn-add:hover {
    background-color: #f0f0f0;
}

/* 3. L'effetto "Click" (3D) */
.btn-add:active {
    /* Si sposta verso il basso di 3px */
    top: 3px; 
    /* L'ombra si accorcia per dare l'idea che il tasto tocchi il fondo */
    box-shadow: 0 1px 0px #dcdcdc; 
}