/* variabili*/

:root {
    --bs-primary: #aa9cfc;
    --bs-primary-rgb: 170, 156, 252;
    /* colore sfondo card */
    --bs-light: #b5b7a7;
    --bs-light-rgb: 249, 243, 238;
    /* togliere il bordo bianco*/
    
}

/* background */

body {
    background-color: #e4d3c6;
    
}

.card {
    width: 400px;
    height:150px;
    display: flex;
    flex-direction: row;
    padding: 0px; !important

}

.card > * {
    width: 40%;
    height:100%
    
}

.img-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.member-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
