/* variabili*/

:root {
    --bs-primary: #6f21a3;
    --bs-primary-rgb: 104, 33, 163;
    /* colore sfondo card */
    --bs-light: #f9f3ee;
    --bs-light-rgb: 249, 243, 238;
}


.card {
    width: 400px;
    display: flex;
    flex-direction: row;

}

.card > * {
    width: 40%;
    height:100%
    
}

.img-container {
    width: 30%;
}

.member-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
